<main class="login">
    <div class="col-background">
        <div class="row">
            <h1><span><i class="fa-solid fa-coins"></i></span> Finatech</h1>
            <span>Suas financias gerenciadas por quem entende do assunto ...</span>
        </div>
    </div>
    <div class="col-form">
        <form [formGroup]="form">
            <div class="row title">
                <h3>Bem vindo(a) a Finatech</h3>
            </div>
            <div class="row">
                <label for="email">E-mail</label>
                <input type="email" formControlName="email" class="form-control input-email" id="email" placeholder="Digite seu e-mail cadastrado">
                <div *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
                    <small>*Campo obrigatório</small>
                </div>
            </div>
            <div class="row">
                <label for="password">Senha</label>
                <input type="password" formControlName="password" class="form-control input-password" id="password" placeholder="Digite sua senha">
                <div *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">
                    <small>*Campo obrigatório</small>
                </div>
            </div>
            <div class="row">
                <a [routerLink]="['/auth/recovery']" class="link-recovery">Esqueci a minha senha?</a>
            </div>
            <div class="row">
                <button type="button" class="btn-login" (click)="setDataLogin()">Entrar</button>
            </div>
        </form>
    </div>
</main>