.bg-rose {
    color: $color-white;
    background-color: $bg-rose-1;
}

.bg-blue {
    color: $color-white;
    background-color: $bg-blue-1;
}

.text-white {
    color: $color-white;
}

.text-black {
    color: $color-marron-5;
}