// Background
$bg-white:          #FFFFFF;
$bg-marron-1:       #BDC0C9;
$bg-marron-2:       #DEE0E8;
$bg-marron-3:       #5A5B61;
$bg-marron-4:       #7A7C83;
$bg-marron-5:       #20222C;
$bg-blue-1:         #121C54;
$bg-blue-2:         #172677;
$bg-rose-1:         #f03a47;
$bg-rose-2:         #F87060;
$bg-yellow-1:       #fee440;
$bg-orange-1:       #FF8A00;

// Colors
$color-white:       #FFFFFF;
$color-marron-1:    #BDC0C9;
$color-marron-2:    #DEE0E8;
$color-marron-3:    #5A5B61;
$color-marron-4:    #7A7C83;
$color-marron-5:    #20222C;
$color-blue-1:      #121C54;
$color-rose-1:      #F87060;
$color-rose-2:      #ad554c;
$color-yellow-1:    #fee440;

// Font Family
$ruda: 'Ruda', sans-serif;

// Font Family Variants
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

// Breakpoints
$breakpoint-1440: 1440px;
$breakpoint-1240: 1240px;
$breakpoint-1040: 1040px;
$breakpoint-720: 720px;
$breakpoint-440: 440px;
$breakpoint-375: 375px;
$breakpoint-320: 320px;