<nav class="navbar bg-blue">
    <div class="container">
        <a href="#" class="navbar-logo"><span><i class="fa-solid fa-coins"></i></span> Finatech</a>
        <button type="button" class="navbar-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="navbar-links">
            <button type="button" title="Sair" class="btn-logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </div>
    </div>
</nav>
<!-- <app-breadcrumb></app-breadcrumb> -->