<div class="card {{bgColor}}">
    <ng-container *ngIf="!!viewHeader">
        <div class="card-header">
            <div class="title">
                <ng-container *ngIf="!!viewTitle">
                    <span>{{title}}</span>
                </ng-container>
                <ng-container *ngIf="!!viewSubtitle">
                    <small>({{subtitle}})</small>
                </ng-container>
            </div>
            <ng-container *ngIf="!!viewButton">
                <button type="button" class="btn btn-eye {{bgColor}}" (click)="viewDetailsMoneyEvent()">
                    <i class="fa {{iconClass}}" aria-hidden="true"></i>
                </button>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="!!viewBody">
        <div class="card-body">
            <ng-container *ngIf="!!viewDetailsMoney; else viewDetailsMoneyNot">
                <span class="money">{{ money | currency}}</span>
            </ng-container>
            <ng-template #viewDetailsMoneyNot>
                <span class="money">----</span>
            </ng-template>
        </div>
    </ng-container>
    <ng-container *ngIf="!!viewFooter">
        <div class="card-footer">
            <small>Atualizado em: {{dateUpdate | date: 'dd/MM/YYYY HH:MM:ss'}}</small>
        </div>
    </ng-container>
</div>